<%= render 'shared/navbar' %>
<h1>Ma Bibliothèque</h1>

<div class="card mt-3" style="width: 50rem;">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 text-center">
        <%= image_tag "test.jpg", width: 300, height: 300 %>
      </div>
      <div class="col-md-6">
        <% Book.take(1).each do |book| %>
          <h2><%= book.name %></h2>
          <p>Auteur: <%= book.author %></p>
          <p>Synopsis: <%= book.synopsis %></p>
          <p>Mood: <%= book.mood %></p>
          <div class="toggle-switch">
            <span class="toggle-label-text">Lu</span>
            <label class="toggle">
              <input type="checkbox">
              <span class="toggle-slider"></span>
            </label>
            <span class="toggle-label-text">Non lu</span>
          </div>
          <div class="button-delete">
            <%= button_to "Supprimer", book_path(book), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce livre ?' }, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


<%= render 'shared/footer' %>
