<a href="<%= root_path %>">Accueil</a>
<h1>Ma biblio</h1>

<div class="cards-mood">
  <% current_user.books.each do |book| %>
    <div class="card-mood">
      <div>
        <% if book.image.present? %>
          <img src="<%= book.image %>" alt="Book Cover">
        <% end %>
      </div>
      <strong>Title:</strong> <%= book.name %><br>

      <!-- Toggle switch for marking as read/unread -->
      <div class="toggle-switch">
        <span class="toggle-label-text">Lu</span>
        <label class="toggle">
          <input type="checkbox" <%= 'checked' if book.read %>><!-- Assuming you have a 'read' attribute in your Book model -->
          <span class="toggle-slider"></span>
        </label>
        <span class="toggle-label-text">Non lu</span>
      </div>

<%= render 'shared/footer' %>
      <!-- Form for deleting the book from the library -->
      <%= form_with(model: book, url: library_destroy_book_path(id: book.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }) do |form| %>
        <%= form.submit "Remove from Library", class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>
