<%= render 'shared/navbar' %>

<h1>Ma Bibliothèque</h1>

<div class="cards-mood-dash">
  <% current_user.books.each do |book| %>
  <div class="card-mood-dash">
  <div class="book-cover-dash">
    <% if book.image.present? %>
      <img src="<%= book.image %>" alt="Book Cover">
    <% end %>
  </div>
  <div class="book-details-dash">
    <h2 class="name_book"><%= book.name %></h2>

    <!-- Toggle switch for marking as read/unread -->
    <div class="toggle-switch">
      <span class="toggle-label-text">Non lu</span>
      <label class="toggle">
        <input type="checkbox" <%= 'checked' if book.read %>>
        <span class="toggle-slider"></span>
      </label>
      <span class="toggle-label-text">Lu</span>
    </div>

    <div class="m-2">
    <% sum = 0 %>
    <% book.reviews.each do |review|%>
    <% sum += (review.rating.to_i) %>
    <% end %>
    <p>Note: <%= sum.fdiv(book.reviews.count).round(2) %><i class="fa-solid fa-star star m-2"></i></p>
    </div>

    <% if book.preview_link.present? %>

   <% if book.preview_link.present? %>
      <div class="download-button">
        <a href="<%= book.preview_link %>" target="_blank" download="<%= book.name.parameterize %>">
          <button class="btn btn-primary">Télécharger</button>
        </a>
      </div>
    <% end %>
    <div data-controller="toggle" class="m-2">
      <button data-action="click->toggle#fire" class="btn btn-primary">Laisser une note</button>
        <%= render "shared/form", book: book, review: @review %>
    </div>


 <%#    <%= button_to "Laisser une note", new_book_review_path(book[:id]) %>

    <!-- Download button -->



    <%= form_with(model: book, url: library_destroy_book_path(id: book.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }) do |form| %>
      <div class="remove-button">
        <%= form.submit "Retirer de la bibliothèque", class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>

  <% end %>


</div>
