<%= render 'shared/navbar' %>
<%= render 'shared/footer' %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if @books.present? %>
  <ul>
    <% @books.each do |book| %>
      <li><%= book.name %></li>
      <li><%= book.author %></li>
      <li><%= book.synopsis %></li>
      <li><%= book.mood %></li>
    <% end %>
  </ul>
<% else %>
  <p>Aucun livre trouvé.</p>
<% end %>


<div class="video-container">
  <video autoplay muted loop id="bg-video">
    <source src="<%= asset_path('video.mp4') %>" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
