<!-- app/views/books/index.html.erb -->

<h1>Books</h1>

<% if @error_message %>
  <p><%= @error_message %></p>
<% else %>
  <ul>
    <% @books.each do |book| %>
      <%= image_tag "test.jpg", width: 280, height: 190 %>
      <li><%= book['name'] %></li>
      <li><%= book['author'] %></li>
      <li><%= book['votes'] %></li>
              <p><a href="<%= book['url'] %>">En savoir plus</a></p>
      <li>
        <strong>Title:</strong> <%= book['volumeInfo']['title'] %><br>
        <strong>Author:</strong> <%= book['volumeInfo']['authors'].join(', ') if book['volumeInfo']['authors'] %><br>
        <strong>Description:</strong> <%= book['volumeInfo']['description'] %><br>

        <!-- Ajouter la balise img pour afficher l'image -->
        <% if book['volumeInfo']['imageLinks'] && book['volumeInfo']['imageLinks']['thumbnail'] %>
          <img src="<%= book['volumeInfo']['imageLinks']['thumbnail'] %>" alt="Book Cover">
        <% end %>
      </li>
    <% end %>

  </ul>
<% end %>
