<%= render 'shared/navbar' %>

<div class="container">
  <div class="row justify-content-center">
    <div class="m-2">
      <%= form_with url: books_index_path, method: :get, remote: true, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Chercher par titre, auteur, synopsis, mood"
          %>
        <%= submit_tag "Rechercher", name: "", class: "btn-p"%>
      <% end %>
        <% if params[:query].present? %>
        <%= render 'list', books: @books %>
        <% end %>
    </div>
  </div>
</div>
<div>


<div class="cards-mood">
  <% @books.each do |book| %>
    <div class="card-mood">
      <div class="book-image">
        <% if book.image.present? %>
          <img src="<%= book.image %>" alt="Book Cover">
        <% end %>
      </div>

      <div class="book-details">
         <span class="book-title"><%= book.name %></span><br>
        <div class="space"></div>
        <span class="book-author">Auteur : <%= book.author %></span><br>
        <div class="space"></div>
        <span class="book-description">Synopsis : <%= book.synopsis %></span><br>
        <div class="space"></div>
        <span class="book-date">Date de publication : <%= book.published_date %></span><br>

        <div class="space"></div>
        <span class="book-nmbr">Nombre de pages : <%= book.page_count %></span><br>

        <div class="space"></div>
          <% if book.rating %>
        <span class="book-rating">
          <% if book.rating.present? %>
            <p>Note : <%= book.rating %><i class="fa-solid fa-star star m-2"></i></p>
          <% end %>
        </span>
        <% end %>
        </div>

        <%= form_with(model: book, url: add_book_to_library_path(id: book.id), method: :post, class: "library-form") do |form| %>
         <div class="space"></div>
          <%= form.submit "Add to Library" %>
        <% end %>
      </div>
    </div>
    <% end %>
   </div>

  <h1 class='m-3'>Recherche par émotions</h1>
  <div class="row">
    <% @categories.each_slice(3).with_index do |categories_slice, index| %>
      <% categories_slice.each do |category| %>
        <% background_image = @category_backgrounds[category] %>
        <%# <%= image_tag  %>

        <div class="col-md-4 mb-4">
          <div class="card-wrapper">

            <div class="card-category" style="background-image: <%= background_image %>">
                <% if category == "happy" %>
                <%= image_tag "pleurs.png" %>
                <% elsif category == "sad" %>
                <%= image_tag "pleurs.png" %>
                <% elsif category == "serious" %>
                <%= image_tag "choc.png" %>
                <% elsif category == "excited" %>
                <%= image_tag "baiser.png" %>
                <% elsif category == "calm" %>
                <%= image_tag "colere.png" %>
                <% elsif category == "angry" %>
                <%= image_tag "colere.png" %>
                <% end %>

              <div class="square-card"></div>
              <p class="card-text">
                <%= link_to category.capitalize, book_category_path(category: category), class:'text-decoration-none text-black text-uppercase' %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <% if index == 0 %>
        </div>
        <div class="row">
      <% end %>
    <% end %>
  </div>
</div>
