<!-- Lien vers la page d'accueil -->
<a href="<%= root_path %>">Accueil</a>

<h1>Liste des Livres</h1>
<% if @books.present? %>
  <ul>
    <% @books.each do |book| %>


      <li>Title : <%= book['name'] %></li>
      <li>Author : <%= book['author'] %></li>
      <li>Synopsis : <%= book['synopsis'] %></li>
      <li>Mood : <%= book['mood'] %></li>
      <li>Votes : <%= book['votes'] %></li>
        <p><a href="<%= book['url'] %>">En savoir plus</a></p>
    <% end %>
  </ul>
<% else %>
  <p>Aucun livre trouvé.</p>
<% end %>

<h1>Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.capitalize, book_category_path(category: category) %></li>
  <% end %>
</ul>
