<%= render 'shared/navbar' %>

<div class="container">
  <div class="row-sea justify-content-center">
    <div class="m-2">
      <%= form_with url: books_index_path, method: :get, remote: true, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Chercher par titre, auteur, synopsis"
          %>
        <%= submit_tag "Rechercher", name: "", class: "btn-p"%>
      <% end %>
        <% if params[:query].present? %>
        <%= render 'list', books: @books %>
        <% end %>
    </div>
  </div>
</div>
<div>

<h1 class='m-3'>Recherche par émotions</h1>
  <div class="row">
    <% @categories.each_slice(3).with_index do |categories_slice, index| %>
      <% categories_slice.each do |category| %>
        <% background_image = @category_backgrounds[category] %>
        <%# <%= image_tag  %>

        <div class="col-md-4 mb-4">
          <div class="card-wrapper">

            <div class="card-category" style="background-image: <%= background_image %>">
                <% if category == "happy" %>
                <%= image_tag "happys.png", class: "happy-image" %>
                <% elsif category == "sad" %>
                <%= image_tag "triste.png" %>
                <% elsif category == "serious" %>
                <%= image_tag "serieux.png" %>
                <% elsif category == "excited" %>
                <%= image_tag "rire.png" %>
                <% elsif category == "calm" %>
                <%= image_tag "happy.png" %>
                <% elsif category == "angry" %>
                <%= image_tag "colere.png" %>
                <% end %>

              <div class="square-card"></div>
              <p class="card-text">
                <%= link_to category.capitalize, book_category_path(category: category), class:'text-mood' %>
              </p>
            </div>
          </div>
        </div>
      <% end %>

      <% if index == 0 %>
        </div>
        <div class="row">
      <% end %>
    <% end %>
  </div>
</div>
<div class="title-reco"> Le livre recommandé à lire </div>


<div class="cards-mood">
  <% @books.each do |book| %>
    <div class="card-mood">
      <div class="book-image">
        <% if book.image.present? %>
          <img src="<%= book.image %>" alt="Book Cover">
        <% end %>
      </div>

      <div class="book-details">
         <span class="book-title"><%= book.name %></span><br>
        <div class="space"></div>
        <span class="book-author">Auteur : <%= book.author %></span><br>
        <div class="space"></div>

          <span class="book-description" id="synopsis<%= book.id %>">
            Synopsis : <%= truncate(book.synopsis, length: 200, separator: ' ') %>
          </span>
          <span id="read-more-link<%= book.id %>">
            <span href="#" onclick="toggleSynopsis(<%= book.id %>)">Lire la suite</span>
          </span>
          <span class="full-synopsis" id="full-synopsis<%= book.id %>" style="display: none;">
            <%= book.synopsis %>
          </span>

          <br>

        <div class="space"></div>
        <span class="book-date">Date de publication : <%= book.published_date %></span><br>

        <div class="space"></div>
        <span class="book-nmbr">Nombre de pages : <%= book.page_count %></span><br>

        <div class="space"></div>
          <% if book.rating %>
        <span class="book-rating">
          <% if book.rating.present? %>
            <p>Note : <%= book.rating %><i class="fa-solid fa-star star m-2"></i></p>
          <% end %>
        </span>
        <% end %>
        </div>

        <%= form_with(model: book, url: add_book_to_library_path(id: book.id), method: :post, class: "library-form") do |form| %>
         <div class="space"></div>
          <%= form.submit "Ajouter à la bibliothèque", class:"btn-p" %>
        <% end %>
      </div>
    </div>
    <% end %>
   </div>


<script>
  document.addEventListener('click', function(event) {
    if (event.target && event.target.id.startsWith('read-more-link')) {
      var bookId = event.target.id.replace('read-more-link', '');
      toggleSynopsis(bookId);
    }
  });

  function toggleSynopsis(bookId) {
    var synopsis = document.getElementById("synopsis" + bookId);
    var readMoreLink = document.getElementById("read-more-link" + bookId);
    var fullSynopsis = document.getElementById("full-synopsis" + bookId);

    if (synopsis.style.display === "none" || !synopsis.style.display) {
      synopsis.style.display = "inline";
    } else {
      synopsis.style.display = "none";
      fullSynopsis.style.display = "inline";
      readMoreLink.style.display="none";
      fullSynopsis.style.color="#555";
      fullSynopsis.style.fontSize = "14px";
      fullSynopsis.style.fontWeight = "400";
    }
  }
</script>
