
<div class="container card">
            <%= image_tag "test.jpg", width: 200, height: 240, class: 'mt-3'%>
 <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="books">
            <h1><%= @book.name %></h2>
            <p><%= @book.synopsis %></p>
            <p><%= @book.author %></p>
            <p><%= @book.mood %></p>
      </div>
    </div>
  </div>
</div>

