<h1>Books - <%= @category.capitalize %></h1>
<div class= "container-test">
  <%= link_to "Revenir aux catégories", books_path, class:"btn btn-primary" %>
  <div class='card-box'>
    <% if @error_message %>
      <p><%= @error_message %></p>
    <% else %>
      <div class='box'>
        <% @books.each do |book| %>
          <div class='card'>
            <strong>Title:</strong> <%= book['volumeInfo']['title'] %><br>
            <% if book['volumeInfo']['imageLinks'] && book['volumeInfo']['imageLinks']['thumbnail'] %>
              <img src="<%= book['volumeInfo']['imageLinks']['thumbnail'] %>" alt="Book Cover">
            <% end %>
            <strong>Author:</strong> <%= book['volumeInfo']['authors'].join(', ') if book['volumeInfo']['authors'] %><br>
            <strong>Description:</strong> <%= book['volumeInfo']['description'] %><br>
            <strong>Published Date:</strong> <%= book['volumeInfo']['publishedDate'] %><br>
            <strong>Page Count:</strong> <%= book['volumeInfo']['pageCount'] %><br>
            <% if book['volumeInfo']['previewLink'] %>
              <a href="<%= book['volumeInfo']['previewLink'] %>" target="_blank">View on Google Books</a><br>
            <% end %>
          </div >
        <% end %>
      </div>
    <% end %>
  </div>
</div>
