<%= render 'shared/navbar' %>

<% if flash[:notice].present? && flash[:book_id] %>
  <!-- Display book information -->
  <%= render partial: 'library/book_info', locals: { book: Book.find(flash[:book_id]) } %>
<% else %>
  <%= flash[:notice].html_safe if flash[:notice].present? %>
<% end %>


<div class="cards-mood">
  <% @books.each do |book| %>
    <div class="card-mood">
      <div class="book-image">
        <% if book.image.present? %>
          <img src="<%= book.image %>" alt="Book Cover">
        <% end %>
      </div>

      <div class="book-details">
         <span class="book-title"><%= book.name %></span><br>
        <div class="space"></div>
        <span class="book-author">Auteur : <%= book.author %></span><br>
        <div class="space"></div>
        <span class="book-description">Synopsis : <%= book.synopsis %></span><br>

        <div class="space"></div>
        <span class="book-nmbr">Nombre de pages : <%= book.page_count %></span><br>

        <%= form_with(model: book, url: add_book_to_library_path(id: book.id), method: :post, class: "library-form") do |form| %>
         <div class="space"></div>
          <%= form.submit "Add to Library" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
