<!-- app/views/books/show.html.erb -->

<h1>Books - <%= @category.capitalize %></h1>

<% if @error_message %>
  <p><%= @error_message %></p>
<% else %>
  <ul>
    <% @books.each do |book| %>
      <li>
        <strong>Title:</strong> <%= book['volumeInfo']['title'] %><br>
        <strong>Author:</strong> <%= book['volumeInfo']['authors'].join(', ') if book['volumeInfo']['authors'] %><br>
        <strong>Description:</strong> <%= book['volumeInfo']['description'] %><br>

        <% if book['volumeInfo']['imageLinks'] && book['volumeInfo']['imageLinks']['thumbnail'] %>
          <img src="<%= book['volumeInfo']['imageLinks']['thumbnail'] %>" alt="Book Cover">
        <% end %>

        <!-- Additional details for each book -->
        <div>
          <strong>Published Date:</strong> <%= book['volumeInfo']['publishedDate'] %><br>
          <strong>Page Count:</strong> <%= book['volumeInfo']['pageCount'] %><br>
          <!-- Add more details as needed -->

          <!-- You can also add a link to view more details on the Google Books website -->
          <% if book['volumeInfo']['previewLink'] %>
            <a href="<%= book['volumeInfo']['previewLink'] %>" target="_blank">View on Google Books</a><br>
          <% end %>
        </div>
        <%= form_tag(add_to_library_path, method: :post) do %>
        <%= hidden_field_tag :book_id, book['id'] %>
        <%= submit_tag "Ajouter à la bibliothèque" %>
      <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
