<% if flash[:notice].present? && flash[:book_id] %>
  <!-- Display book information -->
  <%= render partial: 'library/book_info', locals: { book: Book.find(flash[:book_id]) } %>
<% else %>
  <%= flash[:notice].html_safe if flash[:notice].present? %>
<% end %>






<div class="cards-mood">
  <% @books.each do |book| %>
    <div class="card-mood">
      <div>
        <% if book.image.present? %>
          <img src="<%= book.image %>" alt="Book Cover">
        <% end %>
      </div>
      <strong>Title:</strong> <%= book.name %><br>
      <strong>Author:</strong> <%= book.author %><br>
      <strong>Description:</strong> <%= book.synopsis %><br>

      <!-- Display book image if available -->

      <!-- Additional details for each book -->
      <div>
        <!-- Add more details as needed -->
        <strong>Page Count:</strong> <%= book.page_count %><br>
        <!-- You can also add a link to view more details on the Google Books website -->
        <% if book.preview_link.present? %>
          <a href="<%= book.preview_link %>" target="_blank">View on Google Books</a><br>
        <% end %>

        <!-- Add the form for adding to library -->
        <%= form_with(model: book, url: add_book_to_library_path(id: book.id), method: :post) do |form| %>
  <%= form.submit "Add to Library" %>
<% end %>

      </div>
    </div>
  <% end %>
</div>
