<%= render 'shared/navbar' %>

<h1>Questionnaire</h1>

  <div class="container mt-5" style="width: 50rem;">
    <%= form_with url: books_index_path, method: :get, remote: true do |form| %>
      <div class="form">
        <%= form.label :question1, 'Question 1 : Préférez-vous les livres courts ou longs ?' %>
        <div class="radio-input-wrapper">
          <label class="label">
            <%= form.radio_button :question1, 'Livres longs', id: "value-2", class: "radio-input" %>
            <div class="radio-design"></div>
            <div class="label-text">Livres longs</div>
          </label>
          <label class="label">
            <%= form.radio_button :question1, 'Livres courts', id: "value-3", class: "radio-input" %>
            <div class="radio-design"></div>
            <div class="label-text">Livres courts</div>
          </label>
        </div>
      </div>

    <div class="form">
      <%= form.label :question2, 'Question 2 : "Préférez-vous des livres récemment publiés ou êtes-vous ouvert à des classiques plus anciens ?' %>
      <div class="radio-input-wrapper">
        <label class="label">
          <%= form.radio_button :question2, 'Récemment publiés', id: "value-4", class: "radio-input" %>
          <div class="radio-design"></div>
          <div class="label-text">Récemment publiés</div>
        </label>
        <label class="label">
          <%= form.radio_button :question2, 'Des classiques plus anciens', id: "value-5", class: "radio-input" %>
          <div class="radio-design"></div>
          <div class="label-text">Des classiques plus anciens</div>
        </label>
      </div>
    </div>

    <div class="form">
      <%= form.label :question3, 'Question 3 : Êtes-vous attiré par des livres qui ont été des best-sellers ?' %>
      <div class="radio-input-wrapper">
        <label class="label">
          <%= form.radio_button :question3, 'Plutôt oui', id: "value-6", class: "radio-input" %>
          <div class="radio-design"></div>
          <div class="label-text">Plutôt oui</div>
        </label>
        <label class="label">
          <%= form.radio_button :question3, 'Pas du tout', id: "value-7", class: "radio-input" %>
          <div class="radio-design"></div>
          <div class="label-text">Pas du tout</div>
        </label>
      </div>
    </div>

    <div class="form-submit-button">
      <%= form.submit 'Envoyer', class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
